header {
    padding: 1rem;
}

.MuiGrid-root {
    padding: 0 !important; 
}

.header__logo, .header__menu, .header__toggleTheme, .header__cartWidget {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo__img {
    width: 100%;
    max-width: 115px;
}

.header__menu__icono {
    width: 3rem;
    height: 3rem;
}

.header__menu svg, .header__cartWidget svg{
    width: 3rem;
    height: 3rem;
}

.header__toggleTheme__icon {
    width: 3rem;
    height: 3rem;
}

.header__nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav ul{
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.link {
    text-decoration: none;
}

.header__nav ul li {
    text-align: center;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.5rem;
    transition: border 0.2s ease-in;
}

.header__nav ul li:hover {
    border-bottom: 2px solid #bdefa7;
}

.drawer__nav ul{
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.header__nav ul li, .drawer__nav ul li {
    margin: 1rem;
    padding: 1rem;
}
