.card {
    margin: 1rem;
    width: 15rem;
    height: 30rem;
    border-radius: 4px;
    position: relative;
}

.card__top {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.card__top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__bottom {
    height: 15rem;
    position: relative;
    padding: 0.25rem;
}

.card__bottom__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.card__bottom__text h2, .card__bottom__text h3 {
    font-size: 1.5rem;
}

.card__bottom__cantidadProducto {
    width: 15rem;
    position: absolute;
    bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card__bottom__agregarCarrito {
    height: 6rem;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}